@import "tailwindcss";

:root {
  --background: #f5f1e8;
  --foreground: #30271f;

  --cream: #f5f1e8;
  --beige: #e7ded0;
  --sand: #cbbba0;

  --brown: #5c4632;
  --dark-brown: #30271f;

  --olive: #6b705c;
  --sage: #a5a58d;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::selection {
  background: var(--brown);
  color: var(--cream);
}
